:root {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #fff;
}

body {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff0a;
    width: 720px;
    height: 540px;
    margin: 0 auto;
    border: 3px solid #3067ae;
    border-radius: 6px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #3067ae;
    color: #fff;
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 700;
    height: 1.75em;
    width: 192px;
    margin: 0 10px;
    border: transparent;
    border-radius: 8px;
    transition-duration: 0.3s;
}

.play {
    padding: 0 20px;
    width: initial;
    margin-top: 30px;
}

.btn:hover {
    box-shadow: 2px 2px 5px #ffffff32;
    scale: 1.025;
}

.score-header {
    display: flex;
    justify-content: space-around;
    width: 576px;
}

h5 {
    width: 150px;
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid #3067ae;
    margin: 25px auto;
}

p {
    width: 275px;
    text-align: center;
    margin: 0;
}

.rules p {
    font-size: 18px;
    width: 400px;
    padding: 8px 0;
}

.results {
    font-size: 18px;
    width: max-content;
    height: 22px;
    margin-top: 25px;
}

h4 {
    margin: 0;
}

h1, h2 {
    margin: 10px 0px 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ffffff22;
    text-align: center;
    width: 85%
}

.hide {
    display: none;
}

.fade-in {
    animation: fadein 1.25s linear forwards;
}

.fade-out {
    animation: fadeout 1.25s linear forwards;
}


@keyframes fadeout {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

@keyframes fadein {
    0% { opacity: 0 }
    100% { opacity: 1 }
}